{% extends 'layouts/default.njk' %}

{% block body %}
 <div class="auth-wrapper">
   <form action="" method="post" class="form-signin">
     <h1>Fazer Login</h1>

     <input name="email" type="email" placeholder="Digite seu e-mail">
     <input type="password" name="password" placeholder="Digite sua senha">
     <button type="submit">Entrar</button>

     <a href="/signup">Criar sua conta grátis</a>
   </form>
 </div>
{% endblock %}
